<div class="left__Content">
    <header class="d-flex justify-content-between">
       <div>Menu</div>
       <svg width="20" height="18" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="0.5" x2="23" y2="0.5" stroke="black"/>
        <line y1="12.5" x2="23" y2="12.5" stroke="black"/>
        <line y1="24.5" x2="23" y2="24.5" stroke="black"/>
        </svg>
    </header>
    <footer class="menu__shop">
        <div class="__shop">
          <img src="assets/image/shot.png" width="40px" height="40px" alt="">
            <span>Shop</span>
        </div>
        <div  class="__cart">
              <img src="assets/image/cart.png" width="40px" height="40px" alt="">
            <span>Cart</span>
        </div>
        <div class="__profile">
          <img src="assets/image/user.png" width="44px" height="44px" alt="">
            <span>Profile</span>
        </div>
    </footer>
</div>
