.header__shop{
  width: 100%;
  height: 119px;
  background: #C6E5F4;
  img{
    margin-left: 37px;
    margin-top: 10px;
  }
.name__Main{
  width: 505px;
  font-size: 48px;
}
.img_profile{
  img{
    margin-right: 10px;
    width: 69px;
    height: 69px;
  }
}
}
